
@{
    ViewData["Title"] = "Success";
}

<h5>Thank you @ViewBag.Email, for registering. 
    Your account had been successfully created</h5>
<br/>
@Html.ActionLink("Click here to login","Index","Login")
